

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VPS</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
  <%- include("includes/nav.ejs") %>
  <%- include("includes/sidebar.ejs") %>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/home">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Manage Vehicle</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<!-- <h1 class="page-header">Vehicle Management</h1> -->
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-default">
					<div class="panel-heading">Vehicle Entry</div>
					<div class="panel-body">

						<div class="col-md-12">

							<form method="POST" action="http://localhost:8080/vehicle/api/vehicleInfoCreate" onsubmit="alert('Form submitted!')">

								<div class="form-group">
									<label>Registration Number</label>
									<input type="text" class="form-control" placeholder="LOL-1869" id="registration_number" name="registration_number" required>
								</div>


								<div class="form-group">
									<label for="vehcomp">Vehicle's Category</label>
									<select class="form-control" id="vehicleCat" name="vehicle_category" required>
											<option value="small">Small</option>
											<option value="medium">Medium</option>
											<option value="large">Large</option>
									</select>
							</div>
									

								<div class="form-group">
									<label>Parking Number</label>
									<input type="text" class="form-control" id="parkingNumber" name="parking_number" required>
								</div>

									<button type="submit" class="btn btn-success" name="submit-vehicle">Submit</button>
									<button type="reset" class="btn btn-default">Reset</button>
								</div> <!--  col-md-12 ends -->
							</form>
						</div> 
					</div>
		
		
					<script>
						// Function to generate parking number
						function generateParkingNumber() {
								var letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
								var numbers = '0123456789';
								var parkingNumber = 'ABC';
								for (var i = 0; i < 3; i++) {
										parkingNumber += letters.charAt(Math.floor(Math.random() * letters.length));
								}
								for (var i = 0; i < 3; i++) {
										parkingNumber += numbers.charAt(Math.floor(Math.random() * numbers.length));
								}
								return parkingNumber;
						}
				
						// Set the generated parking number to the input field
						document.getElementById('parkingNumber').value = generateParkingNumber();
				</script>

        
	</div>	<!--/.main-->
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script>
		window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		window.myLine = new Chart(chart1).Line(lineChartData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.2)",
		scaleGridLineColor: "rgba(0,0,0,.05)",
		scaleFontColor: "#c5c7cc"
		});
};
	</script>
		
</body>
</html>

